## Scraping LinkedIn for Jobs posted by Companies
* Author: Bhavik Jikadara

In [1]:
# Import Libraries
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

DRIVER_PATH = 'C:/Selenium Driver/chromedriver'
driver = webdriver.Chrome(executable_path=DRIVER_PATH)

In [5]:
driver.get('https://www.careerguide.com/career-options')

* Go to careerguide.com (or any other website of your choice where you can find job types). 
* Scrape Job types from there. Subcategories divided by Categories.
* For eg:(Education->Tutor, Design and Art->Architect)
* URL : https://www.careerguide.com/career-options

In [6]:
categories = driver.find_elements_by_tag_name('h2')

categories_list = []
for c in range(len(categories)):
    categories_list.append(categories[c].text)

## Categories

In [7]:
data = pd.DataFrame(categories_list, columns=['Categories'])
data

                                          Categories
0                               Aerospace & Aviation
1                                        Agriculture
2                        Automobile / Autocomponents
3                      Banking / Insurance & Finance
4                         Beauty & Wellness Industry
5                            Building & Construction
6             Building / Hardware & Home Furnishings
7                        Chemicals & Pharmaceuticals
8                      Commerce or Humanities Stream
9                                 Defense & Military
10                                   Designing & Art
11                     Education / Skill Development
12                            Electronics & Hardware
13                                Emergency Services
14                          Engineering & Technology
15                                Exams and Syllabus
16                                   Food Processing
17                                  Gems & Jewellery
18                           Handlooms & Handicrafts
19                                        Healthcare
20                                Humanistic Studies
21                 Information Technology / Software
22                               Institutes in India
23                                        ITES / BPO
24                                       Law & Order
25                           Leather & Leather Goods
26                            Management & Marketing
27                 Media / Entertainment & Animation
28                                  Organised Retail
29                          Psychometric Career Test
30                         Public Admin & Government
31                                       Real Estate
32                                Science & Research
33                                            Sports
34                                      Study Abroad
35                                           Telecom
36                               Textiles & Garments
37                    Tourism / Hospitality & Travel
38  Transportation/Logistics/Warehousing & Packaging

### Sub Categories

In [10]:
sub_categories = driver.find_elements_by_tag_name('li')

sub_categories_data = []
for sub_c in range(len(sub_categories)):
    sub_categories_data.append(sub_categories[sub_c].text)
sub_categories_data

In [12]:
data = pd.DataFrame(sub_categories_data, columns=['Sub Categories'])
data[100:105]

* Then you have to go to LinkedIn and scrape the jobs from there under the category you scraped from caeerguide which will be under a state 
(State -> category of job -> job)
* You will have to scrape 3 things from the job:
    * Job position (e.g.: Analyst, Software Engineer)
    * Company offering the Job
    * Location of the Job (City or remote)

In [13]:
# Go to linkedin and login
driver.get('https://www.linkedin.com/login')

In [18]:
# Go to linkedin and login
driver.get('https://www.linkedin.com/')
driver.maximize_window()
# your secret credentials:
username = driver.find_element_by_id("session_key")
username.send_keys("ABbc@gmail.com")
password = driver.find_element_by_id("session_password")
password.send_keys("Aba@456")
#submit Details
login_button = driver.find_element_by_class_name("sign-in-form__submit-button")
login_button.click()
driver.get("https://www.linkedin.com/jobs/search/?currentJobId=2974348409")

In [19]:
#Scroll Web page
driver.execute_script("window.scrollBy(0,document.body.scrollHeight)")

In [20]:
#Scrape JOBS
job_title = []
job9 = driver.find_elements_by_class_name("job-card-list__title")
for i in job9:
    job_title.append(i.text)
print(job_title)
print()
print(len(job_title))

['Blockchain Developer', 'Data Science Intern', 'Data Science Student Intern', 'Data Analysis and Research Intern', 'Python Developer Intern', 'Data Science Intern', 'Python Django Development Program']

7

In [21]:
#SCRAPE COMPANY NAME
comp_name = []
job2 = driver.find_elements_by_class_name("job-card-container__company-name")     
for i in job2:
    comp_name.append(i.text)
print(comp_name)
print()
print(len(comp_name))

['Reflective AI', 'Corizo', 'Corizo', 'Mumbai Angels Network', 'RecruitNXT', 'Corizo', 'Growth Central VC']

7

### Located

In [22]:
#SCRAPE JOB LOCATION
loc_name = []
job3 = driver.find_elements_by_class_name("job-card-container__metadata-item")
for i in job3:
    loc_name.append(i.text)
print(loc_name)
print()
print(len(loc_name))

['India', 'Remote', 'India', 'Remote', 'Bangalore Urban, Karnataka, India', 'Remote', 'Mumbai, Maharashtra, India', 'Hybrid', 'Delhi, India', 'Remote', 'Bangalore Urban, Karnataka, India', 'Remote', 'India', 'Remote']

14

### Description

In [24]:
#Scrape for Descriptin of Company
description = []
job5 = driver.find_elements_by_xpath("(//*[@id='job-details']/span/p[4])")
for i in job5:
    description.append(i.text)
print(description)
print()

['It gives me immense pleasure to introduce ourselves as one of the top leading and emerging edtech platforms in India with our head office in Bangalore.']

In [25]:
col = ["Company Name","Job Title","Location","Employee","Description"]
df = pd.DataFrame({"Company Name":comp_name[slice(7)], "Job Title":job_title[slice(7)], "Location":loc_name[slice(7)]})
df.head()
df.to_csv("linkedin_scraping_Job.csv")
print(df)

            Company Name                          Job Title  \
0          Reflective AI               Blockchain Developer
1                 Corizo                Data Science Intern
2                 Corizo        Data Science Student Intern
3  Mumbai Angels Network  Data Analysis and Research Intern
4             RecruitNXT            Python Developer Intern
5                 Corizo                Data Science Intern
6      Growth Central VC  Python Django Development Program

                            Location
0                              India
1                             Remote
2                              India
3                             Remote
4  Bangalore Urban, Karnataka, India
5                             Remote
6         Mumbai, Maharashtra, India